%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, 
            {i, "deps/common.utils/include"},
            {i, "../../deps/common.utils/include"}
]}.
{sub_dirs, [
            "deps/common.utils"
            ]}.

{deps, [
{'common.utils', "", {git, "git://github.com/khia/common.utils.git", "HEAD"}}
]}.


